{:paths ["src" "test"]
 :deps {org.clojure/clojurescript {:git/url "https://github.com/clojure/clojurescript"
                                   :sha "ffbdf90f5f85a18300fb0554129def32d5809068"
                                   #_#_:local/root "/home/arne/github/clojurescript"}}}
